openapi: 3.0.3
info:
  title: Advance Auto Parts Catalog Cart Inventory API
  description: The Advance Auto Parts Catalog API provides programmatic access to the full product catalog including parts, accessories, batteries, and fluids. Supports vehicle fitment lookups by year/make/model/engine, part number searches, availability checks, pricing, and store inventory queries for professional and DIY customers.
  version: '1'
  contact:
    name: Advance Auto Parts Support
    url: https://www.advanceautoparts.com/i/help/customer-service
  termsOfService: https://www.advanceautoparts.com/i/policies/terms-and-conditions
  license:
    name: Advance Auto Parts Terms of Service
    url: https://www.advanceautoparts.com/i/policies/terms-and-conditions
servers:
- url: https://api.advanceautoparts.com/v1
  description: Advance Auto Parts Catalog API Production
security:
- apiKey: []
tags:
- name: Inventory
  description: Store and warehouse inventory
paths:
  /inventory:
    get:
      operationId: checkInventory
      summary: Advance Auto Parts Check Product Inventory
      description: Check availability and quantity of a product at nearby stores or warehouses.
      tags:
      - Inventory
      parameters:
      - name: productId
        in: query
        required: true
        description: Product SKU or part number.
        schema:
          type: string
      - name: storeId
        in: query
        required: false
        description: Specific store ID to check.
        schema:
          type: string
      - name: zip
        in: query
        required: false
        description: ZIP code to find nearby stores.
        schema:
          type: string
      - name: radius
        in: query
        required: false
        description: Search radius in miles.
        schema:
          type: integer
          default: 25
      responses:
        '200':
          description: Inventory availability.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryResult'
              examples:
                checkInventory200Example:
                  summary: Default checkInventory 200 response
                  x-microcks-default: true
                  value:
                    productId: SKU-123456
                    stores:
                    - storeId: store-001
                      storeName: Advance Auto Parts - Main St
                      quantity: 4
                      available: true
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                checkInventory401Example:
                  summary: Default checkInventory 401 response
                  x-microcks-default: true
                  value:
                    code: UNAUTHORIZED
                    message: Invalid API key
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    InventoryResult:
      type: object
      description: Inventory availability result for a product across stores.
      properties:
        productId:
          type: string
          description: Product SKU.
          example: SKU-123456
        stores:
          type: array
          description: Store inventory records.
          items:
            $ref: '#/components/schemas/StoreInventory'
    StoreInventory:
      type: object
      description: Inventory at a specific store.
      properties:
        storeId:
          type: string
          description: Store identifier.
          example: store-001
        storeName:
          type: string
          description: Store display name.
          example: Advance Auto Parts - Main St
        quantity:
          type: integer
          description: Available quantity.
          example: 4
        available:
          type: boolean
          description: Whether in stock.
          example: true
    ErrorResponse:
      type: object
      description: API error response.
      properties:
        code:
          type: string
          description: Error code.
          example: NOT_FOUND
        message:
          type: string
          description: Error message.
          example: The requested resource was not found.
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-API-Key
